.container {
    width: 70px;
    height: 100vh;
    position: fixed;
    background-color: bisque;
}
.item{
    width: 70px;
}
.item1{
    background: brown;
}

.item2{
    background: yellow;
}

.item3{
    background: wheat;
}

.item4{
    background: powderblue;
}

.item5{
    background: darkcyan;
}