.container {
    width: 70px;
    height: 100vh;
    background-color: #E3E5E8;
}
.item{
    width: 70px;
    display: block;
}
.item1{
  display: block;
  background: #E3E5E8;
  margin-top: 0.5rem;
    
}
.item2{
    background: #E3E5E8;
    margin-top: 0.5rem;
}

.item3{
    background: #E3E5E8;
    margin-top: 0.5rem;
}

.item4{
    background: #E3E5E8;
    margin-top: 0.5rem;
}

.item5{
    background: #E3E5E8;
    margin-top: 0.5rem;
}

img {
    width: 100%;
}

.channel_list {
  list-style: none;
  padding-left: 0px;
  margin: 0.5rem;
}
.channel_list div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel_list a{
  text-decoration-line: none;
  color: #4F5660;
  display: block;
  text-align: center;
  border-radius: 50%;
  background: white;
  padding: 1.1rem;
  margin-top: 0.5rem;
  transition: 0.3s;
  align-items: center;
}

.channel_list a:hover{
  background: #738ADB;
  border-radius: 30%;
}