.container {
    width: 70px;
    height: 100vh;
    background-color: #E3E5E8;
}
.item{
    width: 70px;
    display: block;
}
.item1{
    background: brown;
}

.item2{
    background: yellow;
}

.item3{
    background: wheat;
}

.item4{
    background: powderblue;
}

.item5{
    background: darkcyan;
}

img {
    width: 100%;
}

.channel_list {
  list-style: none;
  padding-left: 0px;
}

.channel_list a{
  text-decoration-line: none;
  color: #4F5660;
  width: 70px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background: white;
  padding: 1.5rem 0 1.5rem;
  margin-top: 1rem;
}

.channel_list a:hover{
  background: #738ADB;
}