.sidebar{
  width: 300px;
  /* 사이드바 배경색 */
  background-color: #2f3136;
  position: relative;
  overflow: scroll;
}
.sidebar>div{
border-radius: 10px;
margin: 0.2rem;
padding: 0.3rem;
}
.sidebar-test:hover{
background-color: #42464d;
}
.mapListItem {
  color: #e2e3e4;
  font-weight: bold;
}
.mapListItem>div{
  border-radius: 10px;
  margin-left: 2rem;
  margin: 0.2rem;
  padding: 0.3rem;
}
.mapListItem>div:hover{
  background-color: #42464d;
}

/* .sidebar-test>a:hover{
background-color: red;
} */

.sidebar a{
display: block;
text-decoration-line: none;
/* 사이드 바 글자색 */
color: #e2e3e4;
font-weight: bold;
}
.sidebar-mypage{
width: 300px;
background-color: #F2F3F5;
}
.userinfo {
  display: flex;
  align-items: space-between;
  position: fixed;
  bottom: 0px;
  border-radius: 0%;
  background-color: #202225;
}
.userinfo_name {
  margin-right: 5rem;
}

/* openvidu css */
.container_button {
  flex-direction: row; 
  position: fixed;
  top: 820px ; 
  left: 340px;
  z-index: 10;
  width: 100vh;
  height: 120px;
}
.buttonsContent {
  flex-direction: row !important;
  position: fixed;
  bottom: 100px;
  left: 75px;
  width: 250px;
}
.container_button video {
  padding-left: 0.5rem;
}