.channel_homepage {
  width: 100%;
  /* background-color: #1d3557; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/channelHomeBack1.png);
  background-size: cover;
}
.channel-home{
  width: 100%;
}
.channel-background{
  width: 65%;
  min-height: 70vh;
  max-height: 80vh;
  padding: 20px;
  background-color: #f1faee;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.channel-name{
  font-size: 30pt;
  font-weight: 1000;
  height: 100px;
  overflow: scroll;
}
.channel-desc{
  font-size: 15pt;
  height: 100px;
  overflow: scroll;
}
.channel-tag{
  font-size: small;
  font-weight: bold;
  height: 40px;
  overflow: scroll;
}
.channelHome_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.channel_Home_Button {
  position: absolute;
  height: 30px;
  bottom: 5px;
  right: 5px;
  background-color: #5ba8d7;
  border-radius: 5px;
  border: #457b9d 1px;
}
.channel_Home_Button:hover {
  background-color: #3e9dd8;
  cursor: pointer;
}
.userFlex {
  display: flex;
  margin: 3px;
  flex-wrap: wrap;
}
.kickBotton {
  background-color: #e63946;
  border: 0;
  border-radius: 5px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.kickBotton:hover {
  background-color: #e81426;
}
