.channel-home{
  width: 100%;
}


.channel-background{
  width: 80%;
  height: 80%;
  background-color: gray;
  position: relative;
  left: 10%;
  top: 10%;
  border-radius: 20px;
}

.channel-name{
  font-size: 30pt;
  font-weight: 1000;
}

.channel-desc{
  font-size: 15pt;
}

.channel-tag{
  font-size: 15pt;
}
.server-home {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?auto=format&w=350&dpr=2");
  background-size: cover;
}