.chattingarea {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
}

.show-area {
  display: flex;
  justify-content: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

.textarea-input {
  width: 100%;
  margin-top: 30px;
}

.paper {
  background-color: azure;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.paper-top {
  display: flex;
  justify-content: space-between;
}


.chatting-trash-outline {
  color: rgb(120, 120, 120);
  background: none;
  border: none;
  font-size: 20px;
  float: right;
  z-index: 1;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.chatting-trash-outline:hover {
  color: #2f3136;
}

.pre-text {
  white-space: pre-wrap;
}