.comp{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
/* .comp > button {
  position: absolute;
  cursor: pointer;
  right: 210px;
  height: 30px;
  z-index: 10;
}
.buttonsContent {
  position: absolute;
  z-index:10;
  right: 230px;
}
.container_button {
  position: absolute;
  right: 0;
  top: 0;
} */
.comp-ver{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mypage-setting{
    width: 100%;
    background-color: blanchedalmond;
}
.server-home{
    width: 100%;
    background-color: coral;
}

.addchannel{
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
}

.article-search{
    background-color: beige;
    height: 70px;
}

.article-list{
    background-color: blanchedalmond;
    height: 100%;
}

.chattingarea{
    width: 100%;
    background-color: blue;
}

.maparea{
    width: 85%;
    background-color: yellow;
}

.mapmarkerlist{
    width: 15%;
    background-color: yellowgreen;
}

.mappage{
    height: 85%;
    overflow: visible;
}

